.row div{padding: 20px}
.center-vertical-description{
position: relative;
top: -5%;
transform: translateY(-0%);
}
.center-vertical-price{
position: relative;
top: 5%;
transform: translateY(+25%);
}
.center-vertical-button{
position: relative;
top: 10%;
transform: translateY(+10%);
}
.center-vertical-qty{
position: relative;
top: 10%;
transform: translateY(+20%);
}
.custom-width {
width: 38px !important;
}
.color-change {
background-color: #FFFFFF
}
.font-size-menuCat{
font-size:160%;
text-align:left;
}
.font-size-menuCat02{
font-size:110%;
text-align: right;
}
.font-order-info{
font-size:100%;
text-align: right;
}
.font-card-info{
font-size:100%;
text-align: right;
}