.row div{padding: 20px}
.center-vertical-description{
position: relative;
top: -5%;
transform: translateY(-0%);
}
.center-vertical-price{
position: relative;
top: 5%;
transform: translateY(+15%);
}
.center-vertical-button{
position: relative;
top: 10%;
transform: translateY(+6%);
}
.center-vertical-qty{
position: relative;
top: 10%;
transform: translateY(+15%);
}
.custom-width {
width: 38px !important;
}
.color-change {
background-color: #FFFFFF
}
.font-size-menuCat{
font-size:160%;
text-align:left;
}

            
 .container{overflow: hidden}
 .tab{float: left}
 .tab-btn{margin: 50px;}
button{display:block;margin-bottom: 20px;}
tr{transition:all .25s ease-in-out}
tr:hover{background-color: #ddd;}


#table1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    
}

#table1 td, #table1 th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table1 tr:nth-child(even){background-color: #f2f2f2;}

#table1 tr:hover {background-color: #ddd;}

#table1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#table2 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    
}

#table2 td, #table2 th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table2 tr:nth-child(even){background-color: #f2f2f2;}

#table2 tr:hover {background-color: #ddd;}

#table2 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    
    
}  

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
