.row div{padding: 20px}
.center-vertical-description{
position: relative;
top: -5%;
transform: translateY(-0%);
}
.center-vertical-price{
position: relative;
top: 5%;
transform: translateY(+15%);
}
.center-vertical-button{
position: relative;
top: 10%;
transform: translateY(+6%);
}
.center-vertical-qty{
position: relative;
top: 10%;
transform: translateY(+15%);
}
.custom-width {
width: 38px !important;
}
.color-change {
background-color: #FFFFFF
}
.font-size-menuCat{
font-size:160%;
text-align:left;
}

            
 .container{overflow: hidden}
 .tab{float: left}
 .tab-btn{margin: 50px;}
button{display:block;margin-bottom: 20px;}
tr{transition:all .25s ease-in-out}
tr:hover{background-color: #ddd;}


table {
  display: block;
  height: 500px;
  overflow-y: scroll;
}

#table1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    
}

#table1 td, #table1 th {
    border: 1px solid #ddd;
    padding: 8px;
}

#table1 tr:nth-child(even){background-color: #f2f2f2;}

#table1 tr:hover {background-color: #ddd;}

#table1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}


#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#overlayText{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}